<div class="container">
  <div class="login">
    <div class="inputs">
      <h1>Seja bem vindo, novamente</h1>
      <form [formGroup]="loginForm" (submit)="loginUser()">

        <div class="config-input">
          <mat-form-field appearance="outline">
            <mat-label>Seu E-mail</mat-label>
            <input type="email" [(ngModel)]="userEmail" name="email" id="email" formControlName="email" required="" matInput >
          </mat-form-field>
          <div *ngIf="loginForm.get('email')?.errors?.['required'] &&  loginForm.get('email')?.touched"
            class="error-input">
            Campo Obrigatório!
          </div>
          <div *ngIf="emailInvalid" class="text-danger">E-mail Invalido. Por favor, insira um e-mail valido!</div>
        </div>

        <div class="config-input">
          <mat-form-field appearance="outline">
            <mat-label>Sua senha</mat-label>
            <input [type]="hide ? 'password' : 'text'" [(ngModel)]="senha" name="password" id="password" formControlName="senha" required=""
           matInput>
           <mat-icon matSuffix (click)="toggleHide()" style="cursor: pointer;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </mat-form-field>
          <div *ngIf="loginForm.get('senha')?.errors?.['required'] &&  loginForm.get('senha')?.touched"
            class="error-input">
            Campo Obrigatório!
          </div>
          <button type="submit" [ngClass]="{'disabled' : !loginForm.valid}" [disabled]="!loginForm.valid">Entrar</button>
        </div>
        <div class="error-invalid" *ngIf="credenciasInvalidas">E-mail ou senha invalida!</div>

        <span style="padding-top: 50px; cursor: pointer;" (click)="openDialog()">Criar conta</span>
      </form>
    </div>
  </div>
  <div class="logo">
    <img src="../../../assets/logo.png" alt="">
  </div>
</div>
