<div class="modal">
  <div class="titulo">
    <h1>ADICIONAR</h1>
  </div>

  <div class="inputs">
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput [(ngModel)]="descricao">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput [(ngModel)]="valor" type="number">
    </mat-form-field>
  </div>

  <div class="buttons">
    <button id="cancelar" (click)="cancelar()">Cancelar</button>
    <button id="saida" (click)="saida()">Saida</button>
    <button id="entrada" (click)="entrada()">Entrada</button>
  </div>
</div>
